* {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	background-color: #101010;
	font-family: 'Roboto';
	color: aliceblue;
	overflow-x: hidden;
	text-align: center;
}
h1 {
	padding: 2vw 0;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: aliceblue;
}
.content {
	padding: 100px 10vw 50px;
	text-align: center;
}
.centered-text, .description {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.centered-text {
	position: relative;
	top: 150px;
}

/* ---------------- Navigation ---------------- */
.nav {
	list-style-type: none;
	background-color: #101010;
	font-size: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 1px 10px rgba(255,225,255,0.25);
}
.nav li {
	display: inline-block;
	padding: 0 2vw;
}
.nav a {
	display: block;
	text-align: center;
	padding: 20px 2vw;
	position: relative;
}
.inactive::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 10px;
	left: 0;
	background-color: aliceblue;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
.inactive:hover::before {
	visibility: visible;
	transform: scaleX(0.7);
}
.active::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 10px;
	left: 0;
	background-color: aliceblue;
	transform: scaleX(0.7);
}

/* ----------------- Projects ----------------- */
.projects {
	display: grid;
	grid-template-columns: 40vw 40vw;
	gap: 2vw;
}
.projects > .project {
	box-shadow: 0 0 10px rgba(255,225,255,0.25);
}
.project {
	background-color: black;
	border-radius: 5px;
	font-size: 1.5vw;
	position: relative;
	padding: .5vw .5vw .25vw;
}
.project-overlay {
	position: absolute;
	top: .5vw;
	bottom: 0;
	left: .5vw;
	right: 0;
	overflow: hidden;
	width: 39vw;
	height: 24.4vw;
	opacity: 0;
	background-color: rgba(0,0,0,0.95);
	text-align: center;
}
.project-overlay:hover {
	opacity: 1;
	transition: .5s ease;
}
.description {
	position: absolute;
}
.name {
	float: left;
	padding-left: 1vw;
}
.links {
	float: right;
	padding-right: 1vw;
}

.project a:link, .project a:visited {
  color: aliceblue;
  text-decoration: none;
}

/* ------------------ Gallery ------------------ */
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
	gap: 2vw;
	padding-top: 25px;
}
.gallery-item {
	filter: grayscale(100%);
	overflow: hidden;
}
.gallery-item:hover {
	filter: grayscale(0);
}
.gallery-image {
	transition: transform .5s;
}
.gallery-image:hover {
	transform: scale(1.1);
}

/* ------------------ Toggle ------------------ */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: aliceblue;
	border-radius: 34px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #101010;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input[type=checkbox] {
	display: none;
}
#color:checked ~ label span {
	background-color: skyblue;
	background-image: linear-gradient(0.25turn, red, orange, yellow, limegreen, skyblue, mediumorchid);
}
#color:checked ~ label span:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
#color:checked ~ div div {
	filter: grayscale(0);
}

/* ------------------ Contact ------------------ */
.icons {
	padding-top: 2vw;
}
.icon-border {
	display: inline;
	padding: 2vw;
}
.icon {
	display: inline-block;
	width: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	font-size: 25px;
	border: 2px solid aliceblue;
}
.icon:before, .icon:after {
	content: "";
	position: absolute;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	transition: .3s;
}
.icon:before {
	top: -3px;
	left: 1px;
	transform: scaleX(.75);
	border-top: 4px solid #101010;
	border-bottom: 4px solid #101010;
}
.icon:after {
	bottom: 1px;
	right: -3px;
	transform: scaleY(.75);
	border-left: 4px solid #101010;
	border-right: 4px solid #101010;
}
.icon:hover:before{
	transform: scaleX(0);
}
.icon:hover:after{
	transform: scaleY(0);
}

/* ----------------- Scrollbar ----------------- */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px black;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: aliceblue;
	border-radius: 10px;
}

/* ------------------ Bubbles ------------------ */
.bubbles {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
}
@keyframes float {
	0% {
		margin-top: 1000px;
	}
	100% {
		margin-top: -100%;
	}
}
@keyframes sway {
	0% { 
		margin-left:0px;
	}
	100% { 
		margin-left:50px;
	}
}
.bubble {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 200px;
	position: absolute;
	width: 200px;
	left: var(--left);
	top: var(--top);
	-webkit-transform: var(--scale);
	-moz-transform: var(--scale);
	transform: var(--scale);
	-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-webkit-animation: float var(--float) linear infinite, sway var(--sway) ease-in-out infinite alternate;
	-moz-animation: float var(--float) linear infinite, sway var(--sway) ease-in-out infinite alternate;
	animation: float var(--float) linear infinite, sway var(--sway) ease-in-out infinite alternate;
}

/* -------------- Smaller screens -------------- */
@media only screen and (max-width: 800px) {
	.nav li {
		display: inline;
	}
	.content {
		padding: 10px 15vw;
		min-height: 1px;
	}
	.centered-text {
		position: relative;
		top: 150px;
	}
	.hamburger {
		display: block;
		height: 70px;
		width: 80px;
		padding-top: 10px;
		padding-left: 10px;
		cursor: pointer;
	}
	.bar {
		margin: 1em;
		width: 40px;
	}
	.bar:before, .bar:after, .bar div {
		background-color: aliceblue;
		border-radius: 3px;
		display: block;
		content: '';
		height: 5px;
		margin: 7px 0;
		transition: 0.2s;
	}
	.nav {
		height: 100%;
		padding-top: 60px;
		transform: translate(-100%, 0);
		transition: transform 0.5s cubic-bezier(0.75,0.25,0.01,1.0);
		box-shadow: none;
		opacity: 0;
		z-index: 0;
	}	
	.inactive:hover::before, .active::before {
		transform: scaleX(0.15);
	}
	#menu:checked ~ .hamburger > .bar:before {
		transform: translateY(12px) rotate(45deg);
	}
	#menu:checked ~ .hamburger > .bar div {
		transform: scale(0);
	}
	#menu:checked ~ .hamburger > .bar:after {
		transform: translateY(-12px) rotate(-45deg);
	}
	#menu:checked ~ .nav {
		display: block;
		opacity: 1;
		overflow: auto;
		transform: none;
		z-index: -1;
	}
	#menu:checked ~ .content {
		display: none;
	}
	.projects {
		display: grid;
		grid-template-columns: 70vw;
		gap: 2vw;
	}
    .project {
		font-size: 3vw;
	}
    .project-overlay {
		position: absolute;
		top: .5vw;
		bottom: 0;
		left: .5vw;
		right: 0;
		overflow: hidden;
		width: 69vw;
		height: 43.4vw;
		opacity: 0;
		background-color: rgba(0,0,0,0.95);
		text-align: center;
	}
    .gallery {
		display: grid;
		grid-template-columns: 70vw;
		gap: 2vw;
		padding-top: 25px;
	}
}
